body {
	background: #e8e7de;
	font-family: "Montserrat", sans-serif;
}

.flx-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.chessboard {
	width: 640px;
	height: 640px;
	margin: 20px;
	border: 10px solid #000;
	border-radius: 4px;
	background: #e59110;
	box-shadow: 5px 5px 8px #bebdb6, -5px -5px 8px #ffffff;
}

.chessboard div {
	user-select: none;
}

.move-dest {
	background: radial-gradient(rgba(20, 85, 30, 0.5) 19%, rgba(0, 0, 0, 0) 20%);
	pointer-events: auto;
}

.piece {
	cursor: pointer;
}

.black-square {
	float: left;
	width: 80px;
	height: 80px;
	background-color: #e59110;
	font-size: 53px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.white-square {
	float: left;
	width: 80px;
	height: 80px;
	background-color: #ffcfb6;
	font-size: 53px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

coord {
	font-size: small;
	font-weight: bold;
	margin-right: 68.3px;
}

coords.files {
	position: relative;
	bottom: 16px;
}

.ranks {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 38px;
	right: 497px;
}

.ranks>* {
	margin-bottom: 65px;
}

button {
	flex-grow: 1;
	text-align: center;
	padding: 10px;
	background-color: #ccc;
	cursor: pointer;
}